extends /layouts/layout_main.pug

block title
    - const subtitle = "Abu Dhabi Residence"
    title= `${title}: ${subtitle}`

block head-style
    link(href=css.elasticslider, rel='stylesheet' type='text/css')

block body 
    -
        const menu = [
            { text: 'WORK', href: '#', active: true },
            { text: 'PROFILE', href: '#', active: false },
            { text: 'CONTACT', href: '#', active: false }
        ]

        const submenu = [
            {
                text: 'ARCHITECTURE',
                href: '#',
                active: true,
                subs: [
                    { text: 'Selected Projects', href: '/work/architecture/selected-projects.html', active: false },
                    { text: 'Mixed Use', href: '/work/architecture/mixed-use.html', active: false },
                    { text: 'Residential', href: '/work/architecture/residential.html', active: false },
                    { text: 'Hospitality', href: '/work/architecture/hospitality.html', active: false },
                    { text: 'Commercial-Cultural & Civic ', href: '/work/architecture/commercial.html', active: false }
                ]
            }
        ]

        const article = {
            title: 'Abu Dhabi Residence',
            subtitle: 'Abu Dhabi',
            slug: 'abu-dhabi-residence',
            header: '/assets/img/works/abu-dhabi-residence/header.jpg',
            description: [
                'Abu Dhabi Residential has a dramatically styled new residence for Royalty, crafted by modern architects to incorporate new technology within classic Islamic exterior architecture. Space, luxury, and technology come together to create living experience unlike anything else.',
            ],
            attrs: [
                { name: "Location", value: "Abu Dhabi" },
                { name: "Type", value: "Mixed Use Building (Hotel, Office, Condotel, Parking Building)" },
                { name: "Site Area", value: "± 5,000 m²" },
                { name: "GFA", value: "± 32,500 m²" },
                { name: "Height", value: "15th Floor" },
                { name: "Service", value: "Architecture & Interior Design" },
                { name: "Status", value: "Proposal Design on 2018" },
            ],
            sections: [
                {
                    type: 'two-images',
                    image1: '/assets/img/works/abu-dhabi-residence/content_1_1.jpg',
                    image2: '/assets/img/works/abu-dhabi-residence/content_1_2.jpg'
                },
                {
                    type: 'paragraph-center',
                    text: 'Users can do many activities in one area because there are many functional building in one area like office, hotel, then users can stay longer in Condominium building. This project has a futuristic facility to treat the users with infinite pool in roof top and others leisure. Ground level plazas and pedestrian streets activate both edges of the central retail pavilion and are lined with retail and restaurants.'
                },
                {
                    type: 'single-center-image',
                    image: '/assets/img/works/abu-dhabi-residence/content_2.jpg'
                },
                {
                    type: 'full-image',
                    image: '/assets/img/works/abu-dhabi-residence/content_3.jpg'
                },
                {
                    type: 'paragraph-center',
                    text: 'The development also features a large outdoor room covered by a community roof garden and skypool area. A series of plazas and covered public spaces provide extra space for office occupants to gather and interact. There is covered dining space which activates the public realm and can be enjoyed by occupants throughout the week.'
                },
                {
                    type: 'two-images',
                    image1: '/assets/img/works/abu-dhabi-residence/content_4_1.jpg',
                    image2: '/assets/img/works/abu-dhabi-residence/content_4_2.jpg'
                }
            ]
        }

    body.type-design_project
        include /mixins/navbar.pug
        +navbar(true)
            include /mixins/navbar_container.pug
            +navbar-container
                include /mixins/navbar_menus.pug
                +navbar-menus(menu, submenu)

        #main.alpha0
            .project-case-study.pt-20
                include /mixins/article_header.pug
                +article-header(article.title, article.subtitle, article.header)

                include /mixins/article_description.pug
                +article-description(article.description, article.attrs)

                include /mixins/article_sections.pug
                +article-sections(article.sections)

            .popup.overlay.hidden
            include /components/preloader.pug

        include /components/footer.pug

        script(src=js.elasticslider, type='text/javascript')
        script(src=js.easing, type='text/javascript')
        script(src=js.tweenlite, type='text/javascript')
        script(src=js.easepack, type='text/javascript')
        script(src=js.cssplugin, type='text/javascript')
        script(src=js.main, type='text/javascript')
        script(src=js.imgpreload, type='text/javascript')
        script(src=js.bundle, type='text/javascript')
