- const location = (name) => `/assets/img/favicon/${name}`;

link(rel='apple-touch-icon', sizes='57x57', href=location('apple-icon-57x57.png'))
link(rel='apple-touch-icon', sizes='60x60', href=location('apple-icon-60x60.png'))
link(rel='apple-touch-icon', sizes='72x72', href=location('apple-icon-72x72.png'))
link(rel='apple-touch-icon', sizes='76x76', href=location('apple-icon-76x76.png'))
link(rel='apple-touch-icon', sizes='114x114', href=location('apple-icon-114x114.png'))
link(rel='apple-touch-icon', sizes='120x120', href=location('apple-icon-120x120.png'))
link(rel='apple-touch-icon', sizes='144x144', href=location('apple-icon-144x144.png'))
link(rel='apple-touch-icon', sizes='152x152', href=location('apple-icon-152x152.png'))
link(rel='icon', type='image/png', sizes='192x192', href=location('android-icon-192x192.png'))
link(rel='icon', type='image/png', sizes='32x32', href=location('favicon-32x32.png'))
link(rel='icon', type='image/png', sizes='96x96', href=location('favicon-96x96.png'))
link(rel='icon', type='image/png', sizes='16x16', href=location('favicon-16x16.png'))
link(rel='manifest', href=location('manifest.json'))

meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content=location('ms-icon-144x144.png'))
meta(name='theme-color', content='#ffffff')
