extends /layouts/layout_work.pug

block title
    title= title

block head-style
    link(href=css.elasticslider, rel='stylesheet', type='text/css')

block head-script
    script(src=js.home, type='text/javascript')
    script(src=js.elasticfader, type='text/javascript')

block body 
    include /components/menu.pug
    - const menu = makeCommonMenu(-1)

    include /components/data/carousel.pug

    body
        include /mixins/navbar.pug
        +navbar
            include /mixins/navbar_container.pug
            +navbar-container
                include /mixins/navbar_menus.pug
                +navbar-menus(menu)

        #main.alpha0 
            #home-grad-top
            #home-grad-bottom
            .swipe-m(data-nav-selector='#home-list-nav')
                ul#home
                    each item in carousel 
                        li(data-background=item.src)
                            .home-description
                                h2=item.name 
                                p=item.location
            ul#home-list-nav
            .popup.overlay.hidden
            include /components/preloader.pug

        include /components/footer.pug

        script(src=js.elasticslider, type='text/javascript')
        script(src=js.easing, type='text/javascript')
        script(src=js.tweenlite, type='text/javascript')
        script(src=js.easepack, type='text/javascript')
        script(src=js.cssplugin, type='text/javascript')
        script(src=js.main, type='text/javascript')
        script(src=js.imgpreload, type='text/javascript')
        script(src=js.bundle, type='text/javascript')
